*{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
}
header, section, nav, footer{
    display: block;
}
body{
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
}
#complete_page{
    max-width: 1000px;
    margin: 20px 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
}

nav>ul{
    border: 1px groove lightgray;
    background-color: darkgray;
    list-style-type: none;
    margin: opx;
}

nav>ul>li{
    display: inline-block;
    padding: 5px;
    opacity: 1.0;
    list-style-type: none;
    color: aliceblue;
}

nav>ul>li>a{
    color: aliceblue;
    text-decoration: none;
}

nav>ul>li>a:hover{
    color: lightgray;
}

#main_section{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

#articles_section{
    -webkit-box-flex: 1;
    margin: 5px 0px;
}

#article{
    border-bottom: 3px groove darkgray;
    padding: 5px;
}
.lastOne{
    float: right;
}
#article:hover{
    background-color: #c2c4c5;
}

section footer{
    text-align: right;
}

#news_section{
    border-left: 1px groove darkgray;
    width: 200px;
    margin: 5px;
}

#news{
    text-align: justify;
    padding: 5px;
    margin: 5px;
    border-bottom: 1px groove darkgray;
}

div>footer{
    border-top: 1px groove darkgray;
    text-align: center;
    color: darkgrey;
    padding: 10px;
}