*{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
}
header, section, nav, footer{
    display: block;
}
body{
    background-color: lightgray;
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: center
}

#complete_page{
    max-width: 1000px;
    margin: 20px 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
}

nav>ul{
    border: 1px groove lightgray;
    background-color: darkgray;
    list-style-type: none;
    margin: opx;
}

nav>ul>li{
    display: inline-block;
    padding: 5px;
    opacity: 1.0;
    list-style-type: none;
    color: aliceblue;
}

nav>ul>li>a{
    color: aliceblue;
    text-decoration: none;
}

nav>ul>li>a:hover{
    color: lightgray;
}

#main_section{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    
}

#signup{
    -webkit-box-flex: 1;
    margin: 20px 20px;
}

input{
    margin: 5px;
    display: block;
}
/* #signup_button{
    width: 150px;
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
    background-color: darkgrey;
    height: 25px;
}
#signup_button:hover{
    opacity: 0.8;
    cursor: pointer;
} */
#SignIn{
    margin-left: 10px;
}
a:hover{
    color:green;
}
footer{
    border-top: 1px groove darkgrey;
    margin: 10px;
    padding: 10px;
    text-align: center;
}




